<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chamado - Manutenção</title>
  <link rel="stylesheet" href="../../Assets/css/tema.css">
</head>

<body class="home">
  <main class="main">
    <section>
      <form>
        <h2>Novo Chamada</h2>

        <label for="titulo">Chamado</label>
        <input type="text" id="titulo" placeholder="Manutenção de Equipamentos">

        <label for="funcionarios">Funcionarios</label>
        <input type="text" id="funcionarios" placeholder="02">

        <label for="detalhes">Detalhes</label>
        <input type="text" id="detalhes" placeholder="Equipamentos da empresa necessitam de reparos e manutenção">

        <label for="localizacao">Localização</label>
        <input type="text" id="localizacao" placeholder="Escritório X Sala 6A">

        <div style="display: flex; gap: 1.6rem; margin-top: 2rem;">
          <button class="btn" type="button" onclick="window.location.href='../Fun_pendente/'">Fazer Chamada</button>
        </div>
      </form>
    </section>
  </main>
</body>

</html>
