<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../../Assets/css/tema.css">
</head>
<body class="login-page">
  <div class="container">
   
    <div class="ball">
      <div class="bg-half bg-half-50"></div>
      <div class="bg-half bg-third"></div>
    </div>
  
    <div class="form-container">
      <h1>Recuperar Senha</h1>
      <form>
        <input type="password" placeholder="Digite sua nova senha">
        <input type="password" placeholder="Confirme a nova senha">
        <button type="button" onclick="window.location.href='../Login/'">Atualizar</button>
      </form>
    </div>
  </div>
</body>
</html>
