<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../../Assets/css/tema.css">
</head>
<body class="login-page">
  <div class="container">
   
    <div class="bg-half bg-half-50"></div>
    <div class="bg-half bg-third"></div>
    
  
    <div class="form-container">
      <h1>LOGIN</h1>
      <form>
        <input type="text" placeholder="Código de acesso">
        <input type="password" placeholder="Senha">
        <div style="text-align: left; margin-bottom: 1rem;">
          <a href="#">Esqueci minha senha</a>
        </div>
        <button type="button" onclick="window.location.href='../'">Login</button>
      </form>
    </div>
  </div>
</body>
</html>