<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel de Empresas</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../Assets/css/tema.css">
</head>

<body class="home">
  <aside>
    <div class="menu-title">🔵MENU</div>
    <div class="user">
      <div class="user-logo">
        𖡌
      </div>
      <div class="user-type">
        Cliente
      </div>
    </div>
    <a href="../Home/" >Home</a>
    <a href="../AddCliente/" >Empresas</a>
    <a class="active" href="#" >Funcionarios</a>
    <a href="../TableExample/" >Historico</a>
    <a href="#" >Configurações</a>
    <a href="../Login/" style="margin-top: auto;">Logout</a>
  </aside>  

  <main class="main">
    <section id="funcionarios">
      <form>
        <h2>Cadastro de Funcionário</h2>
        <label>Nome</label>
        <input type="text" placeholder="Nome do Funcionário">

        <label>CPF</label>
        <input type="text" placeholder="CPF do Funcionário">

        <label>Email</label>
        <input type="email" placeholder="Digite um email">

        <label>Função</label>
        <input type="text" placeholder="Função do funcionário">

        <label>Senha</label>
        <input type="password" placeholder="Digite uma senha">

        <button class="btn" type="submit">Salvar</button>
      </form>
    </section>
  </main>
</body>
</html>
