<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel de Empresas</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../Assets/css/tema.css">
</head>

<body class="home">
  <aside>
    <div class="menu-title">🔵MENU</div>
    <div class="user">
      <div class="user-logo">
        𖡌
      </div>
      <div class="user-type">
        Cliente
      </div>
    </div>
    <a href="../Home/" >Home</a>
    <a href="../Empresa/" >Empresas</a>
    <a  href="../Funcionario/" >Funcionarios</a>
    <a href="../TableExample/" >Historico</a>
    <a href="../Login/" style="margin-top: auto;">Logout</a>
  </aside>  

  <main class="main">
    <section id="funcionarios">
      <form>
        <h2>Novo chamado</h2>
        <label>Empresa</label>
        <input type="text" placeholder="Empresa">

        <label>Título chamado</label>
        <input type="text" placeholder="Título chamado">

        <label>Detalhes</label>
        <input type="email" placeholder="Detalhes do chamado">

        <label>Localização</label>
        <input type="text" placeholder="Localização">

        <button class="btn" type="button" onclick="window.location.href='../TableExample/'">Adicionar</button>
      </form>
    </section>
  </main>
</body>
</html>
